@model ScootersMc.App.ViewModels.MembroMcViewModel



<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ContatoEmergencia.Nome" class="control-label"></label>
    <input asp-for="ContatoEmergencia.Nome" class="form-control" />
    <span asp-validation-for="ContatoEmergencia.Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ContatoEmergencia.Telefone" class="control-label"></label>
    <input asp-for="ContatoEmergencia.Telefone" class="form-control" />
    <span asp-validation-for="ContatoEmergencia.Telefone" class="text-danger"></span>
</div>



