@model ScootersMc.App.ViewModels.MembroMcViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Membro</h1>

<h5>Inserir as informações a baixo para cadastra um novo membro</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data"  asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="file" class="form-control" id="ImagemUpLoad" asp-for="ImagemUpload" />
                <label asp-for="Imagem" class="control-label"></label>
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hierarquia" class="control-label"></label>
                <select asp-for="Hierarquia" class="form-control">
                    <option value="0"></option>
                    <option value="2">Prospect</option>
                    <option value="3">Soldado</option>
                    <option value="4">Vice-Presidente</option>
                    <option value="5">Presidente</option>
                </select>
                <span asp-validation-for="Hierarquia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoSanguineo" class="control-label"></label>
                <select asp-for="TipoSanguineo" class="form-control">
                    <option value="0"></option>
                    <option value="2">A+</option>
                    <option value="3">A-</option>
                    <option value="4">B+</option>
                    <option value="5">B-</option>
                    <option value="6">O+</option>
                    <option value="7">0-</option>
                    <option value="8">AB+</option>
                    <option value="9">AB-</option>
                </select>
                <span asp-validation-for="TipoSanguineo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <br />


            <h4>Contato Emergencial</h4>
            <hr />
            <partial name="_ContatoEmergencial" />
            <br />

            <h4>Endereco</h4>
            <hr />
            <partial name="_Endereco" />

            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        BuscaCep();
    </script>
}
